/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Aug, 2020, 5:21:49 PM
    Author     : aditya
*/

#background-image{
    background-image:url("img1/forest-path-deep-forest-wallpaper-preview.jpg");
    height:350px;
    padding-top:50px;
    color:#fff;
    margin-top:25px;
}
#content{
    background-color:rgba(0,0,0,0.7);
        max-width:450px;
        padding:30px 20px;
        margin-top:50px;
}

div{
    border:1px solid black;
    margin-top:5px;
   
}
#image{
    float:left;
    padding:0px 20px 20px 20px;
}       
        